### <b> Segmenting and Clustering neighborhood in Toronto - part 1 </b> ######

Extracting neighborhood data from Wikipedia and building the dataframe

!pip install wikipedia
!pip install lxml
!pip install html5lib
!pip install beautifulSoup4

import html5lib
import lxml
import pandas as pd
import numpy as np
import wikipedia as wp
from bs4 import BeautifulSoup

In [1]:
import pandas as pd
import numpy as np
import wikipedia as wp
from bs4 import BeautifulSoup

In [2]:
html = wp.page(' List of postal codes of Canada: M').html().encode('UTF-8')  
df = pd.read_html(html, header = 0)[0]    ## Extracting data from Wiki into DataFrame
df

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
283      M8Z         Etobicoke              Mimico NW
284      M8Z         Etobicoke     The Queensway West
285      M8Z         Etobicoke  Royal York South West
286      M8Z         Etobicoke         South of Bloor
287      M9Z      Not assigned           Not assigned

[288 rows x 3 columns]

In [3]:
df.columns.values

array(['Postcode', 'Borough', 'Neighbourhood'], dtype=object)

In [4]:
print('Number of rows: ', df.shape[0])
print('Number of columns: ', df.shape[1])

Number of rows:  288
Number of columns:  3

In [5]:
df = df[df.Borough != 'Not assigned'] # Ignoring cells that have "Not assigned values"
df

    Postcode           Borough             Neighbourhood
2        M3A        North York                 Parkwoods
3        M4A        North York          Victoria Village
4        M5A  Downtown Toronto              Harbourfront
5        M5A  Downtown Toronto               Regent Park
6        M6A        North York          Lawrence Heights
..       ...               ...                       ...
282      M8Z         Etobicoke  Kingsway Park South West
283      M8Z         Etobicoke                 Mimico NW
284      M8Z         Etobicoke        The Queensway West
285      M8Z         Etobicoke     Royal York South West
286      M8Z         Etobicoke            South of Bloor

[211 rows x 3 columns]

In [6]:
print('Number of rows: ', df.shape[0])
print('Number of columns: ', df.shape[1])

Number of rows:  211
Number of columns:  3

In [7]:
df = df.reset_index() # Restting the index
df

     index Postcode           Borough             Neighbourhood
0        2      M3A        North York                 Parkwoods
1        3      M4A        North York          Victoria Village
2        4      M5A  Downtown Toronto              Harbourfront
3        5      M5A  Downtown Toronto               Regent Park
4        6      M6A        North York          Lawrence Heights
..     ...      ...               ...                       ...
206    282      M8Z         Etobicoke  Kingsway Park South West
207    283      M8Z         Etobicoke                 Mimico NW
208    284      M8Z         Etobicoke        The Queensway West
209    285      M8Z         Etobicoke     Royal York South West
210    286      M8Z         Etobicoke            South of Bloor

[211 rows x 4 columns]

In [8]:
df = df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(', '.join).to_frame().reset_index() #Grouping data with Neighbourhoods separated in column
df

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                     Rouge, Malvern
1        M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                  Guildwood, Morningside, West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [9]:
# If Neighbourhood is "Not Assigned", mark it as value of Borough
for index, row in df.iterrows():
    if row['Neighbourhood'] == 'Not assigned':
        row['Neighbourhood'] = row['Borough']

In [10]:
# Cleaning Notebook and displaying the final content of the Data Frame
df

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                     Rouge, Malvern
1        M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                  Guildwood, Morningside, West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [11]:
#Printing the number of rows in Data Frame
df.shape

(103, 3)